@font-face {
    font-family: 'gandalf'; 
    src: url('./fonts/MedievalSharp-Regular.ttf');
}

.wizMesGood {
    font-family: 'gandalf';
    color: white;
    font-weight: bold;
}

.wallpaper {
    background-image: url("./../img/wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleBackground {
    background-color: rgba(255, 255, 255, 0.3);
}

.graphBackground {
    background-color: rgba(255, 255, 255, 0.7);
}

.graphColor {
    color: white;
}

.tileBorder {
    border-color: white;
    border-width: 2px;
}
